<div class="contenedor">
  <header>
    <h1>Universidades</h1>
  </header>

  <div class="acciones">
    <button id="nuevaUniversidad" [routerLink]="'/Nueva-Universidad'"  >Nueva Universidad</button>
    <input type="text" id="busqueda" placeholder="Buscar por nombre...">
  </div>
  <main>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lista of Universidad">
        <td>{{lista.id_uni}}</td>
        <td>{{lista.nombre}}</td>
        <td>
          <button class="modificar" title="Modificar" [routerLink]="['/Nueva-Universidad/forms', lista.id_uni]"><i class="material-icons">edit</i></button>
            <button class="eliminar" title="Eliminar" (click)="eliminarUniversidad(lista.id_uni)"><i class="material-icons">delete</i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
