<div class="container">
  <header>
    <h1>Perfilamientos</h1>
  </header>
  <div class="actions">
    <button id="newPerfilamiento">Nuevo Perfilamiento</button>
    <input type="text" id="search" placeholder="Buscar por nombre...">
  </div>
  <main>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let perfil of perfilamiento">
        <td>{{perfil.id_perfilamiento}}</td>
        <td>{{perfil.nombre}}</td>
        <td>
          <button class="modificar" title="Modificar"><i class="material-icons">edit</i></button>
            <button class="eliminar" title="Eliminar"><i class="material-icons">delete</i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
