<div class="contenedor">
  <header>
    <h1>Registro de Información de Tramite</h1>
  </header>
  <main>
    <section class="formulario">
      <h2><i class="material-icons"></i> Información </h2>
      <input type="text" name="tramite" placeholder="tramites">
      <select name="perfilamiento"></select>
      <select name="Horario" placeholder="Horario"></select>
      <select name="turno"></select>
      <select name="modalidad" placeholder="modalidad"></select>
      <h3>Sube tu CV y tu Historial Academico en una link de Google Drive donde haras una
      carpeta por cada uno y que en ambos esten en pdf tus archivos, despues pega la ligas
      en cada campo donde los guardaste, recuerda poner los link en publico</h3>
      <input  type="text" name="cv" placeholder="cv">
      <input type="HistorialAcademico" name="Historialacademico" placeholder="historialAcademico">

      <input [routerLink]="'/Login'" type="submit"  value="Finalizar">
    </section>
  </main>
</div>
