<div class="admin">
  <div class="register-container">
    <h2>Registro - Pasante</h2>
    <form>
      <label for="pasante">Nombre de Usuario:</label>
      <input type="text" id="pasante" required>

      <label for="admin-email-register">Correo:</label>
      <input type="email" id="admin-email-register" required>

      <label for="admin-password-register">Contraseña:</label>
      <input type="password" id="admin-password-register" required>

      <button [routerLink]="'/Datos-personales'" type="submit">Registrarse</button>
    </form>
  </div>
</div>
