<a [routerLink]="'/AdminWelcomComponent'" class="menu-link">
    <mat-icon>home</mat-icon>
    Página Principal
</a>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{ admin.id }}</td>
        <td>{{ admin.username }}</td>
        <td>{{ admin.nombre }}</td>
        <td>{{ admin.p_apellido }}</td>
        <td>{{ admin.s_apellido }}</td>
        <td>{{ admin.correo }}</td>
        <td>
         <!----> <!--<button (click)="editAdmin(admin.id)">Editar</button>-->
          <button (click)="deleteAdmin(admin.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  