<div>

    <h1>Informacion sobre Software de Gestion de Recursos y Generador de Reportes PDF</h1>
    <p>
      La aplicacion web es creado por Reyes Miranda Edgar Adrian y Tovar Reyes Ronaldo,
      sobre la imparticion de Practicas profesionales.
      Ya que con el fin de promover la optimizacion de informacion en la parte de recoleccion de datos de Infotec
      al ingresar nuevos estudiantes o aspirantes a una Beca.
    </p>
  
    <img src="./assets/IMG/Infotec.png" alt="logo de infotec">
  </div>
  