div h1{
    text-align: center;
    text-justify: distribute;
    color: #56242A;
    background-color: #B38E5D;
    border-radius: 80px;
    font-style:initial;
    font-family: 'Montserrat-ExtraBold';
}

  

