<div class="contenedor">
    <header>
      <h1>Registro de Información Personal</h1>
    </header>
    <main>
      <section class="formulario">
        <h2><i class="material-icons"></i> Información personal</h2>
        <input type="text" name="nombre(s)" placeholder="Nombre(s)">
        <input type="text" name="Primer Apellido" placeholder="Primer Apellido">
        <input type="text" name="Segundo Apellido" placeholder="Segundo Apellido">
        <h2><i class="material-icons"></i> Información de contacto</h2>
        <input type="text" name="genero" placeholder="Género">
        <input type="text" name="curp" placeholder="CURP">
        <select name="Estado"></select>
        <input type="text" name="ciudad o municipio" placeholder="Ciudad o Municipio">
        <input type="text" name="Domicilio" placeholder="Domicilio">
        <h2><i class="material-icons"></i> Información de contacto</h2>
        <input type="tel" name="celular" placeholder="Celular">
        <input type="email" name="correoPersonal" placeholder="Correo">
        <input type="submit"  value="Siguiente">
      </section>
    </main>
  </div>
  <div class="contenedor">
    <header>
      <h1>Registro de Información Escolar</h1>
    </header>
    <main>
      <section class="formulario">
        <h2><i class="material-icons"></i> Información Escolar</h2>
        <input type="email" name="correo_inst" placeholder="Correo Institucional">
        <input type="text" name="Carrera" placeholder="Carrera">
        <input type="text" name="Universidad" placeholder="Universidad">
        <input type="text" name="Matricula" placeholder="Matricula">
        <input type="text" name="Periodo" placeholder="Periodo">
        <input type="text" name="Planes Educativos" placeholder="Plan Educativo">
        <input type="text" name="Modalidad" placeholder="Modalidades">
        <input type="submit"  value="Siguiente">
      </section>
    </main>
  </div>
  <div class="contenedor">
    <header>
      <h1>Registro de Información de Tramite</h1>
    </header>
    <main>
      <section class="formulario">
        <h2><i class="material-icons"></i> Información </h2>
        <input type="text" name="Horarios" placeholder="Horarios">
        <input type="submit" value="Subir PDF de tu CV">
        <input type="file" id="archivoPDF" name="archivoPDF" accept=".pdf">
        <input type="text"name="Modalidades" placeholder="Modalidad">
        <input type="submit" value="Subir PDF de Historial Academico">
        <input type="file" id="archivoPDF1" name="archivoPDF" accept=".pdf">
        <input type="text"name="Tramite" placeholder="Tramites">
        <input type="text" name="Perfilamiento" placeholder="Perfilamiento">
        <input type="submit"  value="Finalizar">
      </section>
    </main>
  </div>