<div class="contenedor">
  <header>
    <h1>Registro de Información Escolar</h1>
  </header>
  <main>
    <section class="formulario">
      <h2><i class="material-icons"></i> Información Escolar</h2>
      <input type="email" name="correo_inst" placeholder="Correo Institucional">
      <input type="text" name="Carrera" placeholder="Carrera">
      <select name="Universidad" placeholder="Universidades"></select>
      <input type="text" name="Matricula" placeholder="Matricula">
      <select name="Periodo"></select>
      <select name="Planes Educativos" placeholder="Plan Educativo"></select>
      <select name="ModalidadEscolar" placeholder="Modalidades"></select>
      <input [routerLink]="'/Datos-Ingresos'" type="submit"  value="Siguiente">
    </section>
  </main>
</div>
