<!--suppress XmlInvalidId -->
<div class="contenedor">
  <header>
    <h1>Registro de Información Escolar</h1>
  </header>
  <main>
    <section class="formulario">
      <h2><i class="material-icons"></i> Información Escolar</h2>
      <input
        type="email"
        name="correo_inst"
        placeholder="Correo Institucional"
        required
        [(ngModel)]="escolar.correo_inst"
      />
      <input
        type="text"
        name="Carrera"
        placeholder="Carrera"
        required
        [(ngModel)]="escolar.carrera"
      />
      <label for="Universidad">Universidad:</label>
      <select
        name="Universidad"
        required
        [(ngModel)]="escolar.universidades.nombre"
      >
        <option value="" disabled selected>Elije una Universidad</option>
        <option
          *ngFor="let universidad of universidades"
          [ngValue]="universidad"
        >
          {{ universidad?.nombre }}
        </option>
      </select>
      <input
        type="text"
        name="Matricula"
        placeholder="Matricula"
        required
        [(ngModel)]="escolar.matricula"
      />

      <label for="Plan de Estudios">Plan Educativo:</label>
      <select
        name="Plan Educativo"
        required
        [(ngModel)]="escolar.planeducativo.nombre"
      >
        <option value="" disabled selected>Elije tu Plan de estudios</option>
        <option *ngFor="let plan of planes" [ngValue]="plan">
          {{ plan?.nombre }}
        </option>
      </select>

      <label for="Periodo">Período:</label>
      <select
        name="Periodo"
        required
        [(ngModel)]="escolar.periodo.tipo_periodo"
      >
        <option value="" disabled selected>Elije tu período</option>
        <option *ngFor="let periodo of periodos" [ngValue]="periodo">
          {{ periodo?.tipo_periodo }}
        </option>
      </select>

      <label for="ModalidadesEscolares">Modalidades Escolar:</label>
      <select
        name="ModalidadEscolar"
        required
        [(ngModel)]="escolar.modalidadesesco.tipo_modalidad"
      >
        <option value="" disabled selected>Elije tu modalidad escolar</option>
        <option
          [ngValue]="escolaridad"
          *ngFor="let escolaridad of modalidadesEsc"
        >
          {{ escolaridad?.tipo_modalidad }}
        </option>
      </select>

      <button
        id="guardar"
        role="button"
        [routerLink]="'/Datos-Ingresos'"
        (click)="guardar()"
        *ngIf="!escolar.id_escolar; else elseBlock"
        type="submit"
      >
        Siguiente
      </button>
      <ng-template #elseBlock>
        id="editar"
        <button role="button" (click)="editarescolar()">
          <i class="material-icons">edit</i>Editar Información
        </button>
      </ng-template>
    </section>
  </main>
</div>
