<div class="contenedor">
  <header>
    <h1>Registro de Información Escolar</h1>
  </header>
  <main>
    <section class="formulario">
      <h2><i class="material-icons"></i> Información Escolar</h2>
      <input
        type="email"
        name="correo_inst"
        placeholder="Correo Institucional"
        required
        [(ngModel)]="escolar.correo_inst"
      />
      <input
        type="text"
        name="Carrera"
        placeholder="Carrera"
        required
        [(ngModel)]="escolar.carrera"
      />
      <label for="Universidad">Universidad:</label>
      <select
        name="Universidad"
        placeholder="Universidades"
        required
        [(ngModel)]="escolar.universidades.nombre"
      >
        <option [ngValue]="null">Elije una Universidad</option>
        <option
          *ngFor="let universidad of universidades"
          [ngValue]="universidad"
        >
          {{ universidad.nombre }}
        </option>
      </select>
      <input
        type="text"
        name="Matricula"
        placeholder="Matricula"
        required
        [(ngModel)]="escolar.matricula"
      />

      <label for="Plan Educativo">Plan Educativo:</label>
      <select
        name="Plan Educativo"
        required
        [(ngModel)]="escolar.planeducativo.nombre"
      >
        <option [ngValue]="null">Elije tu Plan de estudios</option>
        <option *ngFor="let plan of planes" [ngValue]="plan">
          {{ plan.nombre }}
        </option>
      </select>

      <label for="Periodo">Perido:</label>
      <select
        name="Periodo"
        placeholder="Periodo"
        required
        [(ngModel)]="escolar.periodo.tipo_periodo"
      >
        <option [ngValue]="null">Elije tu periodo</option>
        <option *ngFor="let periodo of periodos" [ngValue]="periodo">
          {{ periodo.tipo_periodo }}
        </option>
      </select>

      <label for="ModalidadesEscolares">Modalidades Escolar:</label>
      <select
        name="ModalidadEscolar"
        placeholder="Modalidades"
        required
        [(ngModel)]="escolar.modalidadesesco.tipo_modalidad"
      >
        <option [ngValue]="null">Elije tu modalidad escolar</option>
        <option
          *ngFor="let esco of modalidadesEsc"
          [ngValue]="esco.tipo_modalidad"
        >
          {{ esco.tipo_modalidad }}
        </option>
      </select>

      <button
        role="button"
        [routerLink]="'/Datos-Ingresos'"
        (click)='guardar()'
        *ngIf="!escolar.id_escolar; else elseBlock"
        type="submit"
        value="Siguiente"
      >
        Siguiente
      </button>
      <ng-template #elseBlock>
        <button role="button" (click)="editarescolar()">
          <i class="material-icons">edit</i>Editar Información
        </button>
      </ng-template>
    </section>
  </main>
</div>
