<div class="contenedor">
  <header>
    <h1>Administrar Grupos</h1>
  </header>
  <main>
    <div class="acciones-bar">
      <button class="crear-grupo">Crear Grupo</button>
      <input type="text" placeholder="Buscar...">
    </div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let grupo of grupos">
        <td>{{grupo.id_grupo}}</td>
        <td>{{grupo.nombre}}</td>
        <td>
          <button class="modificar" title="Modificar"><i class="material-icons">edit</i></button>
          <button class="eliminar" title="Eliminar"><i class="material-icons">delete</i></button>
        </td>
      </tr>
      
      <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </main>
</div>
