<!-- universidades.component.html -->
<div class="register-container">
    <h2>Grupos</h2>
    <form>
      <label for="nombre">Nombre de Grupo:</label>
      <input type="text" id="nombre" name="nombre"  required [(ngModel)]="Grupos.nombre">
      <div>
      <button  role="button" (click) = 'guardar()' *ngIf="!Grupos.id_grupo else elseBlock">Agregar</button>
      <ng-template #elseBlock>
        <button role="button" (click) = 'editarGrupo()' >Actualizar</button>
      </ng-template>
    </div>
    </form>
  </div>
