<div class="contenedor">
  <header>
    <h1>Lista de Proyectos</h1>
  </header>
  <main>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Área</th>
        <th>Tutor</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Término</th>
        <th>Correo del Becario</th>
        <th>Matrícula</th>
        <th>Proyecto</th>
        <th>Cursos</th>
        <th>Estatus de Infotec</th>
        <th>Beca</th>
        <th>Documento de Beca</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>

      <!-- Aquí van las filas con los datos -->
      </tbody>
    </table>
  </main>
</div>
