<a [routerLink]="'/AdminWelcomComponent'" class="menu-link">
    <mat-icon>home</mat-icon>
    Página Principal
</a>
<a [routerLink]="'/datos-personales-registro'" class="menu-link">
    <mat-icon>person</mat-icon>
    Registro personas
</a>
<!-- datos-personales.component.html -->
<table>
    <thead>
      <tr>
        <th>ID Personal</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Correo</th>
        <th>TeléfonoCasa</th>
        <th>Género</th>
        <th>CURP</th>
        <th>Acciones</th>
        
        <!-- Agrega más encabezados según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datos of datospersonales">
        <td>{{ datos.id_datopersonale }}</td>
        <td>{{ datos.nombre }}</td>
        <td>{{datos.p_apellido}}</td>
        <td>{{datos.s_apellido}}</td>
        <td>{{datos.correo}}</td>
        <td>{{ datos.telefonocasa }}</td>
        <td>{{ datos.genero }}</td>
        <td>{{ datos.curp }}</td>
        <td>
            <button (click)="deletepersonal(datos.id_datopersonale)" ><mat-icon>delete</mat-icon>Eliminar</button>
            <button ><mat-icon>update</mat-icon></button>
        </td>
        <!-- Agrega más celdas según tus necesidades -->
      </tr>

    </tbody>
  </table>
  