<div class="contenedor">
  <header>
    <h1>Registro de FTD</h1>
  </header>
  <main>
    <section class="formulario">
      <h2><i class="material-icons">icono</i> Información FTD</h2>
      <select name="proyecto"></select>
      <input type="text" name="avance de proyecto" placeholder="avance proyecto">
      <input type="text" name="evaluacion de proyecto" placeholder="evaluacion de proyecto">
      <input type="text" name="Area Infotec" placeholder="Area de Infotec">
      <select name="tutor"></select>
      <input type="text" name="Beca" placeholder="beca">
      <input type="date" name="Fecha de ingreso" placeholder="Fecha de ingreso">
      <input type="date" name="Fecha de termino" placeholder="Fecha de termino">
      <select name="curso"></select>
      <input [routerLink]="'/Menu'" type="submit" value="Siguiente">
    </section>
  </main>
</div>
