<a [routerLink]="'/AdminWelcomComponent'" class="menu-link">
    <mat-icon>home</mat-icon>
    Página Principal
</a>
<a [routerLink]="'/datos-escolares-registro'" class="menu-link">
  <mat-icon>school</mat-icon>
  Registro escolares
</a>
<table>
    <thead>
      <tr>
        <th>ID Escolares</th>
        <th>Correo institucional</th>
        <th>Matricula</th>
        <th>Carreras</th>
        <th>Universidads</th>
        
        
        <!-- Agrega más encabezados según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datos of datosescolares">
       
       <td>{{datos.idescolar}}</td>
        <td>{{datos.correo_inst}}</td>
        <td>{{datos.matricula}}</td>
        <td>{{datos.carreras}}</td>
        <td>{{datos.universidades}}</td>
        <td>
            <button (click)="deleteEscolar(datos.idescolar)"><mat-icon>delete</mat-icon>Eliminar</button>
            <button ><mat-icon>update</mat-icon></button>
        </td>
        <!-- Agrega más celdas según tus necesidades -->
      </tr>

    </tbody>
  </table>