.menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #621132;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.menu-link mat-icon {
    margin-right: 8px;
}

.menu-link:hover {
    color:#9D2449; /* Cambia el color al pasar el mouse */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
