<div class="contenedor">
  <header>
    <h1>Lista de Personas</h1>
  </header>
  <main>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>CURP</th>
        <th>Dirección</th>
        <th>Género</th>
        <th>Teléfono Personal</th>
        <th>Teléfono de Casa</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <tr  >

      </tr>

      <!-- Agrega más filas según sea necesario -->
      </tbody>
    </table>
  </main>
</div>
