.contenedor {
  width: 90%;
  margin: 20px auto;
}

header {
  background-color: #621132;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

main {
  background-color: #D4C19C;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #621132;
}

th {
  background-color: #9D2449;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #B38E5D;
}

tbody tr:hover {
  background-color: #285C4D;
  color: #ffffff;
}

.modificar, .eliminar {
  background-color: #285C4D;
  color: #ffffff;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.modificar:hover, .eliminar:hover {
  background-color: #13322B;
}
