.contenedor {
  width: 100%;
  max-width: 1200px; /* o ajusta según tu preferencia */
  margin: 20px auto;
  overflow-x: hidden; /* para ocultar la barra de desplazamiento horizontal si es necesario */
}


header {
  background-color: #621132;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

main {
  background-color: #D4C19C;
  padding: 20px;
  margin-top: 0; /* Ajusta según sea necesario */
}


table {
  width: 100%;
  table-layout: fixed;
  margin-top: 0;
  overflow-x: auto; /* Para permitir el desplazamiento horizontal si es necesario en dispositivos pequeños */
  overflow-y: auto; /* Para permitir el desplazamiento vertical en dispositivos pequeños */
}

th, td {
  max-width: 290px; /* Limita el ancho de las celdas para evitar superposiciones */
  word-wrap: break-word; /* Permite que las palabras largas se rompan y ajusten */
  white-space: normal; /* Restablece la configuración de espacio en blanco */
}


th {
  background-color: #9D2449;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #B38E5D;
}

tbody tr:hover {
  background-color: #285C4D;
  color: #ffffff;
}

.modificar, .eliminar {
  background-color: #285C4D;
  color: #ffffff;
  border: none;
  padding: 3px; /* Ajusta según sea necesario */
  cursor: pointer;
  margin-right: 5px;
}


.modificar, .eliminar {
  background-color: #285C4D;
  color: #ffffff;
  border: none;
  padding: 3px; /* Ajusta según sea necesario */
  cursor: pointer;
  margin-right: 5px;
  font-size: 0; /* Oculta el texto */
}

.modificar::before, .eliminar::before {
  font-size: 16px; /* Ajusta según sea necesario */
  content: '\1F589'; /* Icono de editar (puedes cambiarlo según tus necesidades) */
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .modificar, .eliminar {
    font-size: 12px; /* Ajusta el tamaño del texto de los botones en dispositivos pequeños */
    padding: 4px; /* Ajusta el relleno de los botones en dispositivos pequeños */
  }
}

