<div class="usuario">
<div class="contenedor">
  <header>
    <h1>Registro de Información Personal</h1>
  </header>
  <main>
    <form class="formulario"  >
      <h2><i class="material-icons"></i> Información personal</h2>
      <input type="text" name="nombre(s)" placeholder="Nombre(s)" >
      <input type="text" name="Primer Apellido" placeholder="Primer Apellido">
      <input type="text" name="Segundo Apellido" placeholder="Segundo Apellido">
      
      <h2><i class="material-icons"></i> Información de contacto</h2>
      <input type="text" name="genero" placeholder="Género">
      <input type="text" name="curp" placeholder="CURP">
      <input type="text" name="estado" placeholder="Estados">
      <input type="text" name="ciudad o municipio" placeholder="Ciudad o Municipio">
      <input type="text" name="Domicilio" placeholder="Domicilio">
      
      <h2><i class="material-icons"></i> Información de contacto</h2>
      <input type="tel" name="celular" placeholder="Celular">
      <input type="email" name="correoPersonal" placeholder="Correo">
      
      <button [routerLink]="'/Datos-escolares'"  type="submit" >Siguiente</button>
    </form>
    
  </main>
</div>
</div>
