/* Agrega estos estilos a tu archivo de estilos CSS */
.mat-card-content {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #13322B;
}

a {
    text-decoration: none;
    color: #13322B;
    color: #285C4D;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    font-family: 'Montserrat-BoldItalic';
}

a:hover {
    color: #13322B; /* Cambia el color al pasar el mouse */
}
.mat-card-subtitle{
    text-align: center;
}