.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #56242A; /* Marrón rojizo */
  color: #D4C19C; /* Beige */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-container {
  background-color: #9D2449; /* Rojo más claro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

h2 {
  text-align: center;
  color: #00bfff; /* Azul claro */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #13322B; /* Verde oscuro */
  border-radius: 4px;
  background-color: #285C4D; /* Verde más claro */
  color: #D4C19C; /* Beige */
}

button {
  background-color: #13322B; /* Verde oscuro */
  color: #D4C19C; /* Beige */
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #285C4D; /* Verde más claro */
}
