form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}

label {
    margin-bottom: 8px;
    color: #285C4D; /* Beige */
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #13322B; /* Verde oscuro */
    border-radius: 4px;
    background-color: #285C4D; /* Verde más claro */
    color: #D4C19C; /* Beige */
}

button {
    background-color: #13322B; /* Verde oscuro */
    color: #D4C19C; /* Beige */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #285C4D; /* Verde más claro */
}
