<div class="contenedor">
  <header>
    <h1>Datos de Ingreso</h1>
  </header>
  <main>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Trámite</th>
        <th>Perfilamiento</th>
        <th>Turno</th>
        <th>Modalidad</th>
        <th>CV</th>
        <th>Historial Académico</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingre of ingresos">
          <td>{{ingre.id_ingreso}}</td>
          <td>{{ingre.tramite.tipo_tramite}}</td>
          <td>{{ingre.perfilamiento.nombre}}</td>
          <td>{{ingre.turno.tipo_turno}}</td>
          <td>{{ingre.modalidad.tipo_modalidad}}</td>
          <td>{{ingre.cv}}</td>
          <td>{{ingre.historial_Academico}}</td>
          <td>
            <button class="Eliminar" title="Eliminar" (click)='eliminarIngreso(ingre.id_ingreso)'><i class="material-icons">delete</i></button>
            <button class="modificar" title="modificar"  [routerLink]="['/Datos-Ingresos/forms/', ingre.id_ingreso]"><i class="material-icons">edit</i></button>
          </td>
        </tr>
      <!-- Aquí van las filas con los datos -->
      </tbody>
    </table>
  </main>
</div>
