<div class="container">
  <header>
    <h1>Modalidades Escolares</h1>
  </header>
  <div class="actions">
    <input type="text" id="search" placeholder="Buscar por nombre...">
  </div>
  <main>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let modalidad of modalidades">
        <td>{{ modalidad.id_modalida }}</td>
        <td>{{ modalidad.tipo_modalidad }}</td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
